@font-face {
    font-family: 'Unbounded';
    src: url('./../assets/fonts/unbounded-variablefont_wght-webfont.woff2') format('woff2'),
        url('./../assets/fonts/unbounded-variablefont_wght-webfont.woff') format('woff');
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: 'Unbounded', Tahoma, sans-serif;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 30%);
}

a:hover {
    color: hsl(0, 0%, 60%);
}