*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

input,
button,
textarea,
select {
    font: inherit;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 30%);
}

a:hover {
    color: hsl(0, 0%, 60%);
}